@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #4CAF50;
}

@variant dark (&:is(.dark, .dark *));

* {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}